name: moodleAnd workflow debug

on:
  push:
    paths:
      - 'src/**'

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      - name: Dar permisos de ejecución a gradlew
        run: chmod +x ./src/gradlew

      - name: Configurar JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2
        with:
          api-level: 34
          build-tools: 34.0.0

      - name: Instalar dependencias
        run: ./src/gradlew dependencies

      - name: Compilar APK
        run: ./src/gradlew assembleDebug

      - name: Subir APK
        uses: actions/upload-artifact@v3
        with:
          name: app-debug.apk
          path: src/app/build/outputs/apk/debug/app-debug.apk
